body{
	color: grey;
	font-family: 'Raleway', sans-serif;
	float:none;
}

.btn {
	border-radius: 0px;
}

.form-control {
	border-radius: 0px;
}
.input-group-addon {
	border-radius: 0px;
}

#btn-accept {
	width: 100%;
}

.panel {
	text-align: center;
	border-radius: 0px;
	width: 100%;
}

.alert {
	border-radius: 0px;
	text-align: center;
}

.form-group {
	border-radius: 0px;
}

.alert .glyphicon {
	color: inherit;
}

.card-block{
	test-align: center;
}